*.buildpath
*.settings/
*.project
*.classpath
*/target/
*/bin/
*.class
*.pmd
*.eclipse-pmd
*.metadata
*.tern-project
WebContent/WEB-INF/classes/
build/
rebel.xml
RemoteSystemsTempFiles
geomais-ear/src/main/application/META-INF/geomais-ds.xml
geomais-ear_rest/src/main/application/META-INF/geomais-ds.xml
geomais-infra/src/main/resources/META-INF/persistence.properties
geomais-war/.project
geomais-war/src/main/webapp/WEB-INF/faces-config.xml.jsfdia

